@{
    ViewBag.Title = "Päevi läbiviimine kutse";
}
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
</div>

    <p>Talv</p>
    <div>
        <ul id="spisok">
            <li>10.01.2022 - Kutse</li>
            <li>20.01.2022 - Sünnipäeva</li>
            <li>22.02.2022 - Kutse Sünnipäeva</li>
        </ul>
    </div>
    <br />
    <br />
    <p>Kevad</p>
    <div>
        <ul id="spisok">
            <li>11.03.2022 - Kutse</li>
            <li>22.04.2022 - Kutse</li>
            <li>29.05.2022 - Kutse Sünnipäeva</li>
        </ul>
    </div>
    <br />
    <br />
    <p>Suvel</p>
    <div>
        <ul id="spisok">
            <li>28.06.2022 - Sünnipäeva</li>
            <li>07.06.2022 - Sünnipäeva</li>
            <li>13.07.2022 - Üritus</li>
        </ul>
    </div>
    <br />
    <br />
    <p>Sügis</p>
    <div>
        <ul id="spisok">
            <li>02.09.2022 - Kutse</li>
            <li>20.10.2022 - Sünnipäeva</li>
            <li>23.11.2022 - Üritus</li>
        </ul>
    </div>
