@{
    ViewBag.Title = "Kontakt";
}
<div class="jumbotron">
    <h2>Kontakt</h2>
    <h2>Meil on alati hea meel teid näha</h2>
    </div>

    <address>
        <br />
        <img src="~/Images/tg2.jpg" />
        <br />
        <h4>Estonia, Tallinn</h4>
        <h4>Pikkus tee 84</h4>
        <h4>2 korrus</h4>
        <h4>Tallinn, Eesti</h4>
        <br />

        <br />
        <abbr title="Phone">Telefoni: +372 1245 1784</abbr>
    </address>

    <address>
        <strong>Toetus:</strong>   <a href="mailto:toetus.kutse@gmail.com">toetus.kutse@gmail.com</a><br />
    </address>
